<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="One" />
                <rule name="One" enabled="true">
                    <match url="^v1\.2\.3/(.*)$" />
                    <action type="Rewrite" url="/{R:1}" />
                </rule>
                <remove name="Two" />
                <rule name="Two" enabled="false" stopProcessing="true">
                    <match url="^[A-Z]$" ignoreCase="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
